
<h1>Recyclage et Collecte(R&C)</h1>

<h3>Company's address:</h3>
<address>Akanda, Libreville Gabon(the postal code will be established once we have securred our location).</address>

<h3>Contacts</h3>
<p>+24107227582, +24107610408 and +241069118594 </p>

<h3>Company heads:</h3>

<ul>
    <li><p>Ben Roussel Nzoungani Bouesso</p> </li>
    <li><p>Paulin Abessolo Obame</p> </li>
    <li><p>Edward Packshaw</p> </li>
</ul> 