
<%= render "shared/header" %>
<div><h1>News</h1></div>
<div>
    <% Article.all.each do |i| %>
        <div class="card">
            
            <div class="content">
            <h3><%= i.title %></h4>
            <%= truncate i.content, lenght:80 %>
            <%= link_to "lire la suite", article_path(i.id), class: "card-link" %>
            </div>    
        </div>
    <% end %>


</div>