<header>
       
    <div class="banner">
        <div class="bannerup"> <%= image_tag "RandClogo.jpg" %></div>
               
    </div>
    <ul class="navbar">
            <li class="nav-item"> <a  href="#News">News</a> </li>
           
            <li class="nav-item"> <a href="#contact">Contact</a></li>  
                       
            <li class="nav-item"> <a  href="#about">About</a>  </li>
           
            <li class="nav-item"><a  href="#about">Our services</a></li>
               
                
     </ul>
</header>