<ul class="navbar">
    <li class="nav-item"> <a  href="<%= root_path %>">News</a> </li>
               
    <li class="nav-item"> <a  href="<%= about_path %>">About</a>  </li>
   
    <li class="nav-item"><a  href="<%= services_path %>">Our services</a></li>
       
</ul>