// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
    overflow: hidden;
    display: block;
    width: 100%;
    
    padding: 0;
    margin:0;
    
}

header a{
    float: left;
    color: wheat;
    text-align-last: center;
    
}

.logo{
    width: 465px;
    height:300px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto

}

body{
    background-color: #749222
}

div.bannerup{
    background-color:white;
    width:100%;
    
    display: flex;
    justify-content: center;
    border-bottom:2px groove #A6B665; 
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto

}
ul.navbar{
    list-style-type: none;
    margin: 25px;
    padding: 25px;
    height: 9px;
    overflow: hidden;
    border-radius: 50px;
    background-color:#A9BF65;
    font-size: 25px
}

div.card-container{
    width: 100%;
   margin:auto;
   margin-top: 10px;
   display: flex;
   justify-content: space-around
 
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    background: white;
    text-align: center;
    border-radius: 5px; /* 5px rounded corners */
    float: left; 
    margin: auto
}


.content{
    font-size: 16px;
    font-family:sans-serif;
}
.card:hover,.card:hover:active {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

